@{
    ViewBag.Title = "Careers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="slider">
    <img src="@System.Configuration.ConfigurationManager.AppSettings["Pathin"]/images/careers-banner.jpg" class="slider_img" />
    <div class="slider_caption">
        <div class="container">
            CAREERS
        </div>
    </div>
</section>


<div class="bread_main">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="~/home">Home</a></li>
            <li class="active">Careers</li>
        </ol>
    </div>
</div>


<section class="Our_carrers">
    <div class="container" align="center">
        <div class="carrers_inner">
            <h1>OUR TEAM IS GROWING FAST</h1>
            <h2>WE'RE LOOKING FOR SHARP TALENT TO <br> JOIN US</h2>

            <p>
                Please send us your resume to <a href="">careers@hsrsglobal.com</a><br>
                HSRS Global always look out for trainers and sales executives;
            </p>


            <h3 class="current_open">CURRENT OPENINGS</h3>
            <div class="paragraph1">
                <p>HSRS Global always look out for trainers and sales executives;</p>
                <p>Current Positions:</p>
                <li style="list-style-type:none;font-family: 'gandhisans-regular';font-size:14px">1.Freelance accredited trainers for PRINCE2<sup>&reg;</sup>, ITIL, and Agile, should be ready to travel</li>
                <li style="list-style-type:none;font-family: 'gandhisans-regular';font-size:14px">2.Sales executives need to have excellent verbal and written communication skills</li>
                </ul></br>
                <p>Please send your resume to careers@hsrsglobal.com</p>
            </div>

            <!-- <div class="Career_accd">
              <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#panel1">Freelance accredited trainers for PRINCE2<sup>&reg;</sup>, ITIL, and Agile and ready to travel</a>
                        </h4>
                    </div>
                    <div id="panel1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <h1>Job Description:</h1>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting<br><br>
                            Remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#panel2">Sales executives need to have excellent verbal and written communication skills</a>
                        </h4>
                    </div>
                    <div id="panel2" class="panel-collapse collapse">
                        <div class="panel-body">
                           <h1>Job Description:</h1>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting<br><br>
                            Remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#panel3">Professional Training Course Instructor</a>
                        </h4>
                    </div>
                    <div id="panel3" class="panel-collapse collapse">
                        <div class="panel-body">
                            <h1>Job Description:</h1>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting<br><br>
                            Remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        </div>
                    </div>
                </div>
            </div>
            </div> -->



        </div>
    </div>
</section>
