@{
    ViewBag.Title = "Exam_result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="slider">
    <img src="@System.Configuration.ConfigurationManager.AppSettings["Pathin"]/images/banner.jpg" class="slider_img" />
    <div class="slider_caption">
        <div class="container">
            Exam Resit Guarantee
        </div>
    </div>
</section>

<div class="bread_main">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="@System.Configuration.ConfigurationManager.AppSettings["Pathin"]">Home</a></li>
            <li class="active">Exam Resit Guarantee</li>
        </ol>
    </div>
</div>



<section class="Highly_Inter">
    <div class="container">

        <div class="Highly_Inter_inner">
            <h1 class="interactive_head">The HSRS Global exam guarantee</h1>
            <p>
                Our trainers are experienced in both teaching and project management. Our classroom courses are tailored to individual needs, thus, we are confident that delegates will pass their exams within their first attempt. Each delegate will use a tablet or an equivalent  device/process to answer test questions four times a day as the answers are fed to a central server. A trainer reviews the answers and provides tailored coaching and guidance to the delegate to guarantee success in their exams.  This ensures your certainty on passing your exams in your first attempt. However, in the unlikely event that you are unsuccessful on your first try, we will cover the exam fees for a second attempt*.
            </p>

            <ul>
                <li style=" font-style: italic;">
                    *The re-sitting must be taken within three months of the first attempt, to improve your chances of success. 
                </li>


            </ul>
        </div>

    </div>
</section>



<section class="interactive_bottom">
    <div class="container">
        <h1 class="motto">Our motto is for you to excel in your career.</h1>
    </div>

    <div class="interacctive_inner">
        <div class="container">
            <div class="Need_more">
                <h1>Need more information?</h1>
                <p>Simply call us on  <span>+91 41107198</span> or<br> get in touch via the enquiry form on our Contact Us page.</p>
            </div>
        </div>
    </div>

    </div>
</section>
