@{
    ViewBag.Title = "Paymentsuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="Detail_main">
    <div class="container" align="center">
        <input type="hidden" id="ctype" name="ctype" value="@TempData["Ctype"]" />
        <input type="hidden" id="cname" name="cname" value="@TempData["CName"]" />
        @*<input type="hidden" id="mail" name="mail" value="@TempData["email"]" />*@
        <div class="payment_detail" align="center">
            <div class="row setup-content" id="step-4" style="margin-top:100px;margin-bottom:100px">

                <div class="Payment_sucess">

                    <div class="alert alert-success" role="alert">We will process the booking and send you an email with an invoice. The email and invoice will contain payment details. Payments may be made by electronic funds transfer, credit card or cheque. All payments must use the invoice number as a payment reference.@*Your Order has been processed successfully*@</div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    var ctype = $("#ctype").val();
    var cname = $("#cname").val();
    $.ajax({
        url: "@System.Configuration.ConfigurationManager.AppSettings["Pathin"]/paymentsuccess/sendmail/" + ctype + "/" + cname, success: function (result) {
            
        }
    });
</script>