@{
    ViewBag.MetaDescription = "HSRS Global, project management tools & techniques specialist, provides clear prince2 project plan like prince2 principles, themes & processes in Melbourne";
    ViewBag.MetaKeywords = "project management methodologies, project management methodology, project methodology, prince2 methodology, project management tools and techniques, methodology of project, prince2 principles, methodology of a project, prince2 themes, project management methodologies list, prince2 processes, prince 2 methodology, prince2 project plan, what is prince2 methodology, prince2 methodology explained";
    ViewBag.Canonical = "http://www.hsrsglobal.com.au/prince2coursemethodology";
    ViewBag.Title = "Prince2 Methodology Australia | Project Management Methodologies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="bread_main">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="@System.Configuration.ConfigurationManager.AppSettings["Path"]">Home</a></li>
            <li class="active">Course Methodology</li>
        </ol>
    </div>
</div>

<section class="about_first">
    <div class="container">
        <h1 align="center">What is PRINCE2<sup>&reg;</sup>&nbsp;?</h1>
        <p>
            PRINCE2<sup>&reg;</sup> &nbsp;(Projects in a Controlled Environment) is a structured project management method based on experience drawn from thousands of projects and from the contributions of countless project sponsors, Project Managers, project teams, academics, trainers and consultants.
        </p>

        <p>
            PRINCE2<sup>&reg;</sup> &nbsp;isolates the management aspects of project work from the specialist contributions, such as design and construction. The specialist aspects of the project can be easily integrated with the PRINCE2<sup>&reg;</sup> &nbsp;method and, when used alongside PRINCE2<sup>&reg;</sup>,&nbsp; provide a secure overall framework for the project work.
        </p>

        <p>Because PRINCE2<sup>&reg;</sup>&nbsp; is generic and based on proven principles, organizations adopting the method can substantially improve their organizational capability and maturity across various areas such as business change, construction, IT, mergers and acquisitions, research and product development.</p>

    </div>
</section>


<section class="about_second coursemethod">
    <div class="container">
        <h1 align="center">Overview</h1>
        <p>
            The development of PRINCE2<sup>&reg;</sup>&nbsp; was driven by the end-user feedback from users, project management specialists and a review panel of 150 public and private sector organizations.
        </p>

        <p>
            This has resulted in a generic best practice tool which is flexible enough to be tailored to your organization and used successfully for all types of projects.

        </p>
        <p>Because PRINCE2<sup>&reg;</sup>&nbsp; provides a greater control of resources and the ability to manage business and project risk more effectively, its appeal extends far beyond project management specialists to directors and executive board members.</p>

        <p>PRINCE2<sup>&reg;</sup>&nbsp; uses stages and tolerances as its major elements of control. Tolerances allow for a management by exception approach, i.e. only involving the project board for making decisions when the project tolerances have been exceeded. </p>

        <p>Stages are used to keep the management of project appropriately supervised and documented for those directly  involved, for example the project board members and the project manager. The essential components of each stage of the project are described from start to finish.</p>

        <p>To recap, PRINCE2<sup>&reg;</sup>&nbsp; – the worlds most practiced project management methodology, with translations of the method available in 18 languages, will help you navigate through all the essentials for running a successful project. PRINCE2<sup>&reg;</sup>&nbsp; helps you control an ever changing environment, by providing the essential toolkit for any project manager.</p>

        <h3><p>Benefits of PRINCE2<sup>&reg;</sup>&nbsp; </p></h3>
        <ul>
            <li class="aboutus_li">Applicable to alltype of projects</li>
            <li class="aboutus_li"> Manages the business focus of the project on a continuous basis</li>
            <li class="aboutus_li">Prevents you from reinventing the wheel for project management</li>
        </ul>

        <h3><p>How it works </p></h3>
        <p>Processes within PRINCE2<sup>&reg;</sup>&nbsp; are designed to adapt to projects of any size and take you from planning the project to delivering its products:</p>
        <ul>
            <li class="aboutus_li"> Starting up a Project</li>
            <li class="aboutus_li"> Initiating a Project</li>
            <li class="aboutus_li">  Controlling a stage</li>
            <li class="aboutus_li">Managing product delivery</li>
            <li class="aboutus_li"> Managing stage boundaries</li>
            <li class="aboutus_li">  Closing a project</li>
        </ul>
        <p>The PRINCE2<sup>&reg;</sup>&nbsp; method is easy to learn and embodies established and proven best practice from a wide cross-section of organizations who have contributed to its evolution since the 1980s. By adopting PRINCE2<sup>&reg;</sup>&nbsp; as your project management method, businesses can benefit from lessons learned by other organizations over the last few decades.</p>






    </div>
</section>



<section class="Tab_view" id="Tab_view">
    <div class="Tab_main">
        <div class="container">

            <div class="row">
                <div class="col-sm-12">
                    <div class="detail_tab">
                        <ul id="myTab" class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#include" role="tab" id="include-tab" data-toggle="tab" aria-controls="include"> PRINCE2<sup>&reg;</sup>&nbsp; Principles</a></li>
                            <li role="presentation"><a href="#faq" id="faq-tab" role="tab" data-toggle="tab" aria-controls="faq" aria-expanded="true">  PRINCE2<sup>&reg;</sup>&nbsp; Themes</a></li>
                            <li role="presentation"><a href="#review" role="tab" id="review-tab" data-toggle="tab" aria-controls="review"> PRINCE2<sup>&reg;</sup>&nbsp; Processes</a></li>
                            <li role="presentation"><a href="#testimonial" role="tab" id="testimonial-tab" data-toggle="tab" aria-controls="testimonial"> PRINCE2<sup>&reg;</sup>&nbsp; Project Environment </a></li>
                            <!-- <li role="presentation"><a href="#blog" role="tab" id="blog-tab" data-toggle="tab" aria-controls="blog">Blog</a></li> -->
                        </ul>
                        <div id="myTabContent" class="tab-content">

                            <div role="tabpanel" class="tab-pane fade in active" id="include" aria-labelledby="include-tab">
                                <p class="prince_method">These are the guiding requirements and good practices which determine whether the project is genuinely being managed using PRINCE2<sup>&reg;</sup>&nbsp;. There are seven principles and unless all of them are applied, it is not a PRINCE2<sup>&reg;</sup>&nbsp; project.</p>

                                <ul class="tab_inner">
                                    <li>
                                        <h1><i class="yell_dot"></i>The PRINCE2<sup>&reg;</sup>&nbsp; principles are:</h1>

                                        <ul>
                                            <li> Continued business justification – is there a justifiable reason for starting the project that will remain consistent throughout its duration?</li>
                                            <li>
                                                Learn from experience – PRINCE2<sup>&reg;</sup>&nbsp; project teams should continually seek and draw on lessons learned from previous work.
                                            </li>
                                            <li>
                                                Defined roles and responsibilities – the PRINCE2<sup>&reg;</sup>&nbsp; project team should have a clear organizational structure and involve the right people in the right tasks.
                                            </li>
                                            <li>
                                                Manage by stages – PRINCE2<sup>&reg;</sup>&nbsp; projects should be planned, monitored and controlled on a stage-by-stage basis.
                                            </li>
                                            <li>
                                                Manage by exception- PRINCE2<sup>&reg;</sup>&nbsp; project have defined tolerances for each project objective to establish limits of delegated authority.
                                            </li>
                                            <li>
                                                Focus on products - PRINCE2<sup>&reg;</sup>&nbsp; projects focus on the product definition, delivery and quality requirements.
                                            </li>
                                            <li>
                                                Tailor to suit the project environment - PRINCE2<sup>&reg;</sup>&nbsp; is tailored to suit the project’s environment, size, complexity, importance, capability and risk.
                                            </li>

                                        </ul>

                                    </li>

                                </ul>

                            </div>


                            <div role="tabpIs this course panel" class="tab-pane fade" id="faq" aria-labelledby="faq-tab">

                                <p>These describe aspects of project management that must be addressed in parallel throughout the project. The seven themes explain the specific treatment required by PRINCE2<sup>&reg;</sup>&nbsp; for various project management disciplines and why they are necessary.</p>

                                <ul class="tab_inner">
                                    <li>
                                        <h1><i class="yell_dot"></i>The PRINCE2<sup>&reg;</sup>&nbsp; themes are as follows:</h1>
                                        <ul>
                                            <li>  Business case - What value would delivering the project bring to the organization?</li>
                                            <li>  Organization - How will the project team's individual roles and responsibilities be defined in order for them to effectively manage the project?</li>
                                            <li>  Quality - What the quality requirements and measures are and how the project will deliver them.</li>
                                            <li>  Plans - The steps required to develop the plans and PRINCE2<sup>&reg;</sup>&nbsp; techniques that should be used.</li>
                                            <li>  Risk - How the project management will address the uncertainties in its plans and the project environment.</li>
                                            <li>Change - How the project management will assess and act on unforeseen issues or requests for change.</li>
                                            <li>Progress - The ongoing viability and performance of the plans and how and whether the project should proceed.</li>
                                        </ul>

                                    </li>



                                </ul>

                            </div>

                            <div role="tabpanel" class="tab-pane fade" id="review" aria-labelledby="review-tab">
                                <p>These describe the steps of the project lifecycle, from getting started to project closure. Each process provides checklists of recommended activities, products and related responsibilities</p>
                                <ul class="tab_inner">

                                    <li>
                                        <h1><i class="yell_dot"></i>The PRINCE2<sup>&reg;</sup>&nbsp; Processes are as follows:</h1>


                                        <ul>
                                            <li>  Starting up a project</li>
                                            <li>
                                                Directing a project
                                            </li>
                                            <li>
                                                Initiating a project
                                            </li>
                                            <li>
                                                Controlling a stage
                                            </li>
                                            <li>
                                                Managing product delivery
                                            </li>
                                            <li>
                                                Managing stage boundaries
                                            </li>
                                            <li>
                                                Closing a project
                                            </li>
                                        </ul>

                                    </li>



                                </ul>
                                <p>Use of the PRINCE2 processes through the project lifecycle</p>
                            </div>

                            <div role="tabpanel" class="tab-pane fade" id="testimonial" aria-labelledby="testimonial-tab">

                                <p>This addresses the need to adapt PRINCE2<sup>&reg;</sup>&nbsp; to the specific context of the project. PRINCE2<sup>&reg;</sup>&nbsp; is not a 'one size fits all' solution, but it is a flexible framework that can readily be tailored to any type or size of project.</p>


                            </div>




                        </div>
                    </div>


                </div>
            </div>


        </div>
    </div>
</section>









