@{
    ViewBag.Canonical = "http://www.hsrsglobal.com.au/prince2exam";
    ViewBag.MetaDescription = "HSRS Global are confident that delegates will pass their exams in first attempt. We have good experienced trainer, provides prince2 practice exam regularly";
    ViewBag.MetaKeywords = "prince2 certification, prince2 exam, prince2 qualification, prince2 foundation exam, prince2 practitioner exam, prince2 exam cost, prince 2 exam, prince2 foundation exam questions, prince2 practitioner exam tips, prince2 practice exam, prince2 foundation mock exam, prince 2 register, prince2 practitioner exam results, prince 2 exam fees, prince 2 mock exam";
    ViewBag.Title = "Prince2 Exam Australia | Prince2 Practitioner Exam Tips Melbourne";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="slider">
    <img src="@System.Configuration.ConfigurationManager.AppSettings["Path"]/images/banner.jpg" class="slider_img" />
    <div class="slider_caption">
        <div class="container">
            Exam Resit Guarantee
        </div>
    </div>
</section>

<div class="bread_main">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="@System.Configuration.ConfigurationManager.AppSettings["Path"]">Home</a></li>
            <li class="active">Exam Resit Guarantee</li>
        </ol>
    </div>
</div>



<section class="Highly_Inter">
    <div class="container">

        <div class="Highly_Inter_inner">
            <h1 class="interactive_head">The HSRS Global exam guarantee</h1>
            <p>
                Our exam pass guarantee gives you confidence that we will support your learning until you pass. We guarantee that you will pass your exam after completing our Class. If you do not pass the exam after the 1st attempt, we will allow you to attend the class again free of charge. Should you fail the exam on your 2nd attempt, you will be eligible to enrol in the class again, free of charge.
            </p>

            <ul>
                <li style=" font-style: italic;">
                    *The re-sitting must be taken within three months of the first attempt, to improve your chances of success. 
                </li>


            </ul>
        </div>

    </div>
</section>



<section class="interactive_bottom">
    <div class="container">
        <h1 class="motto">Our motto is for you to excel in your career.</h1>
    </div>

    <div class="interacctive_inner">
        <div class="container">
            <div class="Need_more">
                <h1>Need more information?</h1>
                <p>Simply call us on  <span>1300 79 29 07</span> or<br> get in touch via the enquiry form on our Contact Us page.</p>
            </div>
        </div>
    </div>

    </div>
</section>
