@{
    ViewBag.Canonical = "http://www.hsrsglobal.com.au/prince2presentation";
    ViewBag.MetaDescription = "HSRS Global provides prince2 project management presentation of Managing Directors, CIOs, General Managers or recruiters which will help to improve career.";
    ViewBag.MetaKeywords = "prince2 certification, prince2 exam, prince2 qualification, prince2 foundation exam, prince2 practitioner exam, prince2 exam cost, prince 2 exam, prince2 foundation exam questions, prince2 practitioner exam tips, prince2 practice exam, prince2 foundation mock exam, prince 2 register, prince2 practitioner exam results, prince 2 exam fees, prince 2 mock exam";
    ViewBag.Title = "Prince2 Presentation Australia | Prince2 Templates Melbourne Sydney";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .Highly_Inter_inner li {
        color: #000000;
    }
</style>

<section class="slider">
    <img src="@System.Configuration.ConfigurationManager.AppSettings["Path"]/images/banner.jpg" class="slider_img" />
    <div class="slider_caption">
        <div class="container">
            PRESENTATION FROM SENIOR MANAGERS
        </div>
    </div>
</section>

<div class="bread_main">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="@System.Configuration.ConfigurationManager.AppSettings["Path"]">Home</a></li>
            <li class="active">Presentation</li>
        </ol>
    </div>
</div>



<section class="Highly_Inter">
    <div class="container">

        <div class="Highly_Inter_inner">
            <p>HSRS Global does not just focus on passing exams. We want you to apply the knowledge that you have learnt at work in order to excel in your career. We offer the following services free of cost:</p>

            <ul>
                <li>
                    <i class="spin_dot_blue"></i>
                    Our classroom courses are tailored to your individual needs. You will use a tablet or an equivalent  device/process to answer test questions four times a day as answers are fed to a central server. Your trainer will access your progress immediately and accordingly tailor the training for your needs. This service is exclusive to HSRS Global, as we are passionate about delivering the best service to our customers through understanding your learning requirements.
                </li>
                <li>
                    <i class="spin_dot_blue"></i>
                    We will organise presentations from leaders such as Managing Directors, CIOs, General Managers or recruiters, who will explain what they expect from you so that you can excel in your career. This presentation will be organised after passing classroom certification.
                </li>
                <li>
                    <i class="spin_dot_blue"></i>
                    We provide templates and process maps for you to implement at your work place.
                </li>
                <li>
                    <i class="spin_dot_blue"></i>
                    Our trainers will provide mentoring and coaching for your guaranteed success in your career for the first three months free.
                </li>

            </ul>
        </div>

    </div>
</section>



<section class="interactive_bottom">
    <div class="container">
        <h1 class="motto">Our motto is for you to excel in your career.</h1>
    </div>

    <div class="interacctive_inner">
        <div class="container">
            <div class="Need_more">
                <h1>Need more information?</h1>
                <p>Simply call us on <span>1300 79 29 07</span> or<br> get in touch via the enquiry form on our Contact Us page.</p>
            </div>
        </div>
    </div>

    </div>
</section>
